WithSecure/LogisticsApp/force-app/main/default/flows/Reset_Shipment_Status_and_reset_In_Review_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Owner_Id_is_not_null</name>
        <label>Owner Id is not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Owner_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipment_owner_loginName.OwnerLoginName__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Check for Owner Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reset Shipment Status and reset In Review Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Shipment Status and reset In Review Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Destination_Mapping</name>
        <label>Get Destination Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DestinationCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DestinationRegionMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shipment_owner_loginName.OwnerLoginName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shipment_owner_loginName</name>
        <label>Shipment owner loginName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Id_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ShipmentRegionOwnership__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Region</name>
        <label>Update Region</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shipment_owner_loginName</targetReference>
        </connector>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Destination_Mapping.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_and_reset_In_Review_Time</name>
        <label>Update Status and reset In Review Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>In_Review_Start_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>In_Review_User__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned to Agent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Destination_Mapping</targetReference>
        </connector>
        <object>ShipmentRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_Minutes_past_in_Review</name>
            <connector>
                <targetReference>Update_Status_and_reset_In_Review_Time</targetReference>
            </connector>
            <label>5 Minutes past in Review</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>In_Review_Start_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
